.button_template {
  height: 60px;
  padding: var(--ButtonPadding);
  border-radius: var(--buttonRadius);
  background: var(--ButtonBackground);
  color: var(--Color);
  display: flex;
  align-items: center;
  column-gap: 12px;
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: var(--textWeight600);
  border: 1px solid #625f5f !important;
}
.buttonHeader {
  min-width: 172px;
  border: 1px solid #3b3b3b;
}
/* планшед */
@media screen and (max-width: 1199px) {
}
/* мобилка */
@media screen and (max-width: 767px) {
}
