.swiperContainer {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.swiperButtonContianer {
  width: 100%;
  height: max-content;
  margin: auto;
  display: flex;
  justify-content: center;
}
.swiperButtonInner {
  display: flex;
  column-gap: 30px;
}
.swiperButtonInner img {
  cursor: pointer;
}

.arrowsLeft {
  transform: rotate(180deg);
}
.customPagination {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.paginationBullett {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background: #ee742b;
}
/* .paginationBullett:first-child {
  background: none;
}
.paginationBullett:last-child {
  background: none;  элемента */

.active {
  width: 12px;
  height: 8px;
  background: #e41b45;
}

.swiperImg {
  width: 480px;
  height: 480px;
  border-radius: 15px;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .swiperImg {
    width: 308px;
    height: 308px;
  }
}
/* мобилка */
@media screen and (max-width: 767px) {
  .mySwiper {
    margin: 34px 0px 32px 0px;
  }
  .swiperButtonInner {
    column-gap: 20px;
  }
  .swiperImg {
    width: 138px;
    height: 138px;
    border-radius: 30px;
  }
}
