.container {
  display: none;
}
.logoContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.container_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.userHoverBlock {
  width: max-content;
  height: max-content;
  border-radius: 20px;
  background: #3b3b3b;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid silver;
}
.userHoverBlock span {
  font-family: 'Work Sans';
  font-size: clamp(24px, wv, 12px);
  font-style: normal;
  font-weight: 400;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
}
.userHoverBlock span:hover {
  opacity: 1;
}
.liner {
  width: 100%;
  height: 1px;
  background: rgba(217, 217, 217, 0.2);
}
@media screen and (max-width: 1199px) {
  .wrapp {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .container {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    align-items: end;
    background: #3b3b3b;
    color: var(--Color);
    row-gap: 38px;
  }
  .navigantions {
    display: flex;
    flex-direction: column;
    row-gap: 38px;
    padding-right: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Work Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    text-align: end;
  }
}

/* мобилка */
@media screen and (max-width: 767px) {
  .container {
    padding: 40px 20px;
  }
}
