.wrapp {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: max-content;
  height: max-content;
  max-width: 1234px;
  display: flex;
  column-gap: 66px;
  border-radius: 20px;
  background: #2b2b2b;
  padding: 0px 105px 0px 0px;
  position: relative;
  border: 1px solid rgb(54, 53, 53);
}
.crossIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.logo {
  width: 465px;
  height: 586px;
  border-radius: 20px 0px 0px 20px;
}
.inputs_wrapp {
  max-width: 330px;
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  font-family: 'Work Sans';
  color: var(--Color);
  justify-content: center;
}
.inputs_wrapp h2 {
  font-size: clamp(22px, 3vw, 38px);
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
}
.inputs_wrapp p {
  font-size: clamp(16px, 3vw, 17px);
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
}
.input_inner {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.btton_wrapp {
  width: max-content;
  height: max-content;
  margin-top: 15px;
}
.btton_wrapp button {
  width: 330px;
  display: flex;
  padding: 15px 50px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #ee742b;
  color: var(--Color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
}
@media screen and (max-width: 1199px) {
  .container {
    max-width: 397px;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding: 0px 0px 30px 0px;
    align-items: center;
  }
  .logo {
    width: 397px;
    height: 402px;
    border-radius: 20px 20px 0px 0px;
  }
  .inputs_wrapp {
    row-gap: 0px;
    padding: 0px 0px;
  }
  .inputs_wrapp h2 {
    margin-bottom: 10px;
  }
  .input_inner {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: inherit;
    margin-top: 20px;
  }
  .btton_wrapp {
    width: 100%;
  }
  .btton_wrapp button {
    width: 100%;
  }
}
/* мобилка */
@media screen and (max-width: 767px) {
}
