.header__inner {
  padding: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Color);
  font-size: 16px;
  font-weight: var(--textWeight600);
}
.usercontainer {
  position: relative;
  border: 1px solid #3b3b3b;
  border-radius: 20px;
}

.userHoverWeapp {
  top: 100%;
  left: 50%; /* Начало смещения от центра родителя */
  transform: translateX(-50%); /* Смещение назад на 50% от ширины элемента */
  position: absolute;
  padding-top: 10px;
}
.userHoverBlock {
  width: 172px;
  height: 110px;
  border-radius: 20px;
  background: #3b3b3b;
  display: none;
  flex-direction: column;
  row-gap: 9px;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
}
.userHoverBlock span {
  font-family: 'Work Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
}
.userHoverBlock span:hover {
  opacity: 1;
}
.liner {
  width: 100%;
  height: 1px;
  background: rgba(217, 217, 217, 0.2);
}

.userHoverBlock:hover {
  display: flex;
}
.usercontainer:hover .userHoverBlock {
  display: flex;
}
.Logout {
}
.header {
  width: 100%;
}
.header__logo {
  width: 105px;
  height: 105px;
  cursor: pointer;
}
.header__burger {
  display: none;
}
.header__nav {
  display: flex;
  column-gap: 38px;
  align-items: center;
}
.logoContainer {
  display: flex;
  column-gap: 33px;
}
/* планшед */
@media screen and (max-width: 1199px) {
  .header__inner {
    padding: 15px 0px;
  }
  .header__logo {
    width: 71px;
    height: 71px;
  }
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
