* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid rgb(206, 193, 193) !important; */
}
:root {
  --backgroun: #2b2b2b;
  --ButtonPadding: 0px 30px;
  --buttonRadius: 20px;
  --ButtonBackground: #ee742b;
  --Color: #fff;
  --TextSize16: 16px;
  ---textWeight600: 600;
  --textWeight400: 400;
  --FAQAnimate90: 90%;
  --FAQAnimate85: 85%;
  --FAQAnimate80: 80%;
}
a {
  color: var(--Color);
  text-decoration: none;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
}
body {
  width: 100%;
  background: var(--backgroun);
  color: var(--Color);
  font-family: 'Work Sans';
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 18.7px */
}
.container {
  width: 100%;
  padding: 0px 70px;
}
.containerProduct {
  width: 100%;
  padding: 0px 70px;
}
.button_reset {
  border: none;
  outline: none;
}

.mySwiper {
  width: 100%;
}

.swiper-slide {
  width: max-content;
  height: max-content;
}

@media screen and (max-width: 1199px) {
  .container {
    padding: 0px 50px;
  }
  .containerProduct {
    padding: 0px 50px;
  }
  /* .mySwiper img {
    width: 240px;
    height: 240px;
    border-radius: 15px;
  } */
}
/* мобилка */
@media screen and (max-width: 767px) {
  .container {
    padding: 0px 30px;
  }
  .containerProduct {
    padding: 0px 0px;
  }
}
